@import url(https://fonts.googleapis.com/css?family=Montserrat&display=swap);* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  margin: 0 auto;
}

body {
  width: 1200px;
  height: 100%;
}

.header_container {
  max-width: 100%;
  border-bottom: 1px solid #d1ccc0;
  margin: 15px 18px;
  padding-bottom: 20px;
  cursor: pointer;
}

.header_container:after {
  content: "";
  display: table;
  clear: both;
}

.header-left {
  font-size: 23px;
  position: absolute;
}

.header-right {
  float: right;
}

.fa-smile-beam {
  margin-right: 10px;
}

.logo a {
  text-decoration: none;
  color: #58402c;
}

header nav ul a {
  text-decoration: none;
  color: #58402c;
  display: inline-block;
  margin-right: 20px;
  list-style-type: none;
}

button {
  border: 1px solid #30488f;
  border-radius: 5px;
  background-color: #fff;
  color: #30488f;
  font-weight: bold;
  height: 30px;
  width: 100px;
  cursor: pointer;
}

button:hover {
  background-color: #30488f;
  color: #fff;
}

.section_1 {
  margin: 140px 18px;
  height: 350px;
}

h1 {
  color: #51321b;
  font-size: 45px;
}

.section1_h3,
.section2_h3 {
  margin-top: 40px;
  margin-bottom: 60px;
  max-width: 507px;
  color: #51321b;
  text-align: left;
  font-size: 25px;
}

.section1_left {
  max-width: 512px;
  float: left;
}

.teambit_illustration {
  border: 0;
  height: 330px;
  width: 550px;
  float: left;
  margin-left: 100px;
}

.button_gs button {
  border: 1px solid #30488f;
  border-radius: 5px;
  background-color: #30488f;
  color: #fff;
  font-weight: bold;
  height: 40px;
  width: 180px;
  margin-bottom: 20px;
  cursor: pointer;
}

.button_gs span {
  color: #d1ccc0;
}

button:hover {
  background-color: #130f40;
}

.fa-long-arrow-alt-right {
  padding: 5px;
}

.section2_container {
  width: 100%;
  height: 1700px;
  background-color: #ffe7d2;
}

.section2_h3 {
  text-align: center;
  padding-top: 50px;
  max-width: 667px;
}

.section2_imgcenter {
  text-align: center;
  border-bottom: 1px solid #d1ccc0;
  padding: 100px;
}

.col-3 {
  width: 33.33%;
  float: left;
  padding: 30px;
}

.text-center {
  text-align: center;
  float: left;
}

.section2_imgcenter2 {
  text-align: center;
  padding: 70px 121px;
}

.section3_container,
.section5_container {
  width: 100%;
  height: 600px;
}

.section3_left,
.section5_left {
  float: left;
}

.section3_right,
.section5_right {
  max-height: 450px;
  max-width: 380px;
  float: left;
}

.section3_right a,
.section5_right a {
  text-decoration: none;
  font-size: 20px;
}

.section3_right img,
.section5_right img {
  margin-top: 20px;
}

.section3_h3,
.section5_h3 {
  float: left;
  font-size: 20px;
  margin-top: 40px;
  max-width: 507px;
  color: #51321b;
  text-align: left;
  margin-bottom: 20px;
}

.section3_h3_g,
.section5_h3_g {
  margin-top: 40px;
  max-width: 507px;
  color: #51321b;
  text-align: left;
  font-size: 30px;
}

.section4_container,
.section6_container {
  width: 100%;
  height: 600px;
}

.section4_right,
.section6_right {
  float: left;
}

.section4_left {
  max-height: 39px;
  max-width: 500px;
  float: left;
}

.section4_left a {
  text-decoration: none;
  font-size: 20px;
}

.section4_left img {
  margin-top: 20px;
}

.section6_left {
  max-height: 187px;
  max-width: 470px;
  float: left;
}

.section6_left a {
  text-decoration: none;
  font-size: 20px;
}

.section6_left img {
  margin-top: 20px;
}

.section4_h3,
.section6_h3 {
  float: left;
  font-size: 20px;
  margin-top: 40px;
  max-width: 507px;
  color: #51321b;
  text-align: left;
  margin-bottom: 20px;
}

.section4_h3_g,
.section6_h3_g {
  margin-top: 40px;
  max-width: 507px;
  color: #51321b;
  text-align: left;
  font-size: 30px;
}

.section7_container {
  width: 100%;
  height: 800px;
  background-color: #ffe7d2;
  text-align: center;
  padding: 30px;
}

.write_container {
  width: 600px;
  height: 410px;
  background-color: #fff;
  border: 1px solid gray;
  border-radius: 5px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.write_container p {
  text-align: left;
  padding: 50px;
}

.account {
  text-align: left;
  margin-left: 50px;
}

.footer_container {
  max-width: 100%;
  height: 300px;
  margin: 15px 18px;
  padding-bottom: 20px;
}

.col-2 {
  width: 20%;
  float: left;
  padding: 30px;
}

.text-center {
  text-align: center;
  float: left;
}

.first_column {
  width: 460px;
  padding: 20px;
}

.first_column ul {
  list-style-type: none;
  color: #51321b;
  text-align: justify;
}

.first_column .title_list {
  color: #51321b;
  font-size: 20px;
  font-weight: bold;
}

.six_column {
  width: 244px;
  text-align: left;
  padding: 20px;
}

.six_column ul {
  list-style-type: none;
  color: #51321b;
}

.six_column .title_list {
  color: #51321b;
  font-size: 20px;
  font-weight: bold;
}

.p_footer_first {
  color: #51321b;
  font-size: 20px;
}

.p_footer_first a {
  text-decoration: none;
}

.second_column,
.third_column,
.quarter_column,
.fift_column {
  width: 100px;
  padding: 20px;
}

.second_column ul,
.third_column ul,
.quarter_column ul,
.fift_column ul {
  list-style-type: none;
  color: #51321b;
}

.second_column .title_list,
.third_column .title_list,
.quarter_column .title_list,
.fift_column .title_list {
  color: #51321b;
  font-size: 20px;
  font-weight: bold;
}

