@import url(https://fonts.googleapis.com/css?family=Montserrat&display=swap);#section_1 {
  margin: 18px;
}

h1 {
  color: #51321b;
  font-size: 45px;
}

h3 {
  margin-top: 30px;
  margin-bottom: 30px;
  max-width: 507px;
  color: #51321b;
}

.section1_left {
  max-width: 512px;
  margin: 128px 0;
}

.section1_right {
  float: right;
}

.section1_right .teambit_illustration {
  border: 0;
  height: 350px;
  width: 570px;
}

.button_gs button {
  border: 1px solid #30488f;
  border-radius: 5px;
  background-color: #30488f;
  color: #fff;
  font-weight: bold;
  height: 40px;
  width: 180px;
}

.button_gs span {
  color: #d1ccc0;
}

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  margin: 0 auto;
}

body {
  width: 1200px;
  height: 100%;
}

.header_container {
  max-width: 100%;
  border-bottom: 1px solid #d1ccc0;
  margin: 15px 18px;
  padding-bottom: 10px;
}

.header_container:after {
  content: "";
  display: table;
  clear: both;
}

.header-left {
  font-size: 23px;
  position: absolute;
}

.header-right {
  float: right;
}

.logo a {
  text-decoration: none;
  color: #58402c;
}

header nav ul a {
  text-decoration: none;
  color: #58402c;
  display: inline-block;
  margin-right: 20px;
  list-style-type: none;
}

button {
  border: 1px solid #30488f;
  border-radius: 5px;
  background-color: #fff;
  color: #30488f;
  font-weight: bold;
  height: 30px;
  width: 100px;
}

button:hover {
  background-color: #30488f;
  color: #fff;
}

