$border_bottom: 1px solid #d1ccc0;
$bg_color_button_blue: #30488f;

.header_container{
  max-width:100%;
  border-bottom: $border_bottom;
  margin: 15px 18px;
  padding-bottom: 20px;
  cursor: pointer;

  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

.header-left {
  font-size: 23px;
  position: absolute;
}

.header-right{
  float: right;
}

.fa-smile-beam{
  margin-right: 10px;
}


.logo{
  & a {
    text-decoration: none;
    color: #58402c;
  }
}

header nav ul a{
  text-decoration: none;
  color: #58402c;
  display: inline-block;
  margin-right: 20px;
  list-style-type: none;
}

button {
  border: 1px solid $bg_color_button_blue;
  border-radius: 5px;
  background-color: #fff;
  color: $bg_color_button_blue;
  font-weight: bold;
  height: 30px;
  width: 100px;
  cursor: pointer;

  &:hover{
    background-color: $bg_color_button_blue;
    color: #fff;
  }
}
